---
---

@import 'jekyll-theme-cayman';

.loader {
  border: 12px solid #f3f3f3; /* Light grey */
  border-top: 12px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  visibility: hidden
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.header-img {
  border-radius: 0.5rem;
  max-width: 100%;
  max-height: 12rem;
  height: auto;
}
