[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyyaml = "*"
selenium = "*"
sendgrid = "*"
# All new dependencies added here must be manually installed via pip on build machines so pyinstaller has visibility

# Refer to debbit.py pyinstaller_patches() for why this is pinned.
# Need to manually verify the STATIC_PATH var still exists and that coverage works before bumping this version.
# Need to manually copy the htmlfiles directory to program_files with each version update.
# Need to manually set coverage version in build scripts with each version update.
coverage = "==5.3.1"

[requires]
python_version = "3"  # Only tested with Python 3.7
