[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyyaml = "*"
selenium = "*"
sendgrid = "*"
coverage = "==5.1"  # Refer to debbit.py pyinstaller_patches() for why this is pinned

[requires]
python_version = "3"  # Only tested with Python 3.7
